body, html {
width: 40%;    
}

    
    body {
        color : white;
        background-color: rgb(17, 20, 24);
    }
    nav {
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
    }
    h1  {
        color: white
    }

    table, th,td {
        border: 3px solid white;
        border-width: 2px;
        border-style: dotted;
    }


    .tabel {
        position: relative;
        left: 800px;
        top: 100px;
        width: 300px;
    }



