body {
    color : red;
    background-image: url(https://www.dw.com/en/nasa-reveals-james-webb-space-telescopes-first-images-of-cosmos/a-62433898#);
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
h1  {
    color: orangered
}
main {
    
}
